head {
  background-color: rgb(255,0,255);
}



body {
  background-color: #0d0d0d;
}

p {
    background-color: #BDB76B;
}

h1 {

	font-size: 5em;
	color: #cccccc;
	background-color: #00191a;

	
}

.alt_color {
	color: #2F4F4F;
	letter-spacing: .01em;
}

#1a1a1a